In [1]:
import requests
import json
import pandas as pd

In [2]:
url= "https://crashviewer.nhtsa.dot.gov/CrashAPI"
#/crashes/GetCrashesByLocation?fromCaseYear=2014&toCaseYear=2015&state=1&county=1&format=json
#/crashes/GetCrashesByVehicle?make=6&model=41&modelyear=2003&bodyType=4&fromCaseYear=2010&toCaseYear=2015 &state=21&format=json
#/crashes/GetCaseList?states=1,51&fromYear=2014&toYear=2015&minNumOfVehicles=1&maxNumOfVehicles=6&format=json
#/crashes/GetCaseDetails?stateCase=10003&caseYear=2014&state=1&format=json

fromCaseYear = "2010"
toCaseYear = "2020"
state = "6"
qurl =f"{url}/crashes/GetCaseDetails?stateCase=60005&caseYear=2014&state=6&format=json"
#qurl = f"{url}/crashes/GetCrashesByLocation?fromCaseYear={fromCaseYear}&toCaseYear={toCaseYear}&state={state}&county=73&format=json"
cali2=requests.get(qurl).json()

In [3]:
cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['Persons']

[{'AGE': '22',
  'AGENAME': '22 Years',
  'AIR_BAG': '0',
  'AIR_BAGNAME': 'Not Applicable',
  'ALC_DET': '9',
  'ALC_DETNAME': 'Not Reported',
  'ALC_RES': '96',
  'ALC_RESNAME': 'Test Not Given',
  'ALC_STATUS': '0',
  'ALC_STATUSNAME': 'Test Not Given',
  'ATST_TYP': '0',
  'ATST_TYPNAME': 'Test Not Given',
  'BODY_TYP': '80',
  'BODY_TYPNAME': 'Motorcycle',
  'CERT_NO': '************',
  'COUNTY': '73',
  'COUNTYNAME': 'SAN DIEGO (73)',
  'CaseYear': '2014',
  'DAY': '9',
  'DEATH_DA': '9',
  'DEATH_DANAME': '9',
  'DEATH_HR': '16',
  'DEATH_HRNAME': '16:00-16:59',
  'DEATH_MN': '10',
  'DEATH_MNNAME': '10',
  'DEATH_MO': '1',
  'DEATH_MONAME': 'January',
  'DEATH_TM': '1610',
  'DEATH_YR': '2014',
  'DEATH_YRNAME': '2014',
  'DOA': '7',
  'DOANAME': 'Died at Scene',
  'DRINKING': '9',
  'DRINKINGNAME': 'Unknown (Police Reported)',
  'DRUGRES1': '0',
  'DRUGRES1NAME': 'Test Not Given',
  'DRUGRES2': '0',
  'DRUGRES2NAME': 'Test Not Given',
  'DRUGRES3': '0',
  'DRUGRES3NAME': 'Test Not Given',
  'DRUGS': '9',
  'DRUGSNAME': 'Unknown',
  'DRUGTST1': '0',
  'DRUGTST1NAME': 'Test Not Given',
  'DRUGTST2': '0',
  'DRUGTST2NAME': 'Test Not Given',
  'DRUGTST3': '0',
  'DRUGTST3NAME': 'Test Not Given',
  'DRUG_DET': '8',
  'DRUG_DETNAME': 'Not Reported',
  'DSTATUS': '0',
  'DSTATUSNAME': 'Test Not Given',
  'EJECTION': '8',
  'EJECTIONNAME': 'Not Applicable',
  'EJ_PATH': '0',
  'EJ_PATHNAME': 'Not Ejected/Not Applicable',
  'EMER_USE': '0',
  'EMER_USENAME': 'Not Applicable',
  'EXTRICAT': '0',
  'EXTRICATNAME': 'Not Extricated or Not Applicable',
  'FIRE_EXP': '1',
  'FIRE_EXPNAME': 'Yes',
  'FUNC_SYS': None,
  'FUNC_SYSNAME': None,
  'HARM_EV': '1',
  'HARM_EVNAME': 'Rollover/Overturn',
  'HISPANIC': '7',
  'HISPANICNAME': 'Non-Hispanic',
  'HOSPITAL': '0',
  'HOSPITALNAME': 'Not Transported',
  'HOUR': '16',
  'HOURNAME': '4:00pm-4:59pm',
  'IMPACT1': '0',
  'IMPACT1NAME': 'Non-Collision',
  'INJ_SEV': '4',
  'INJ_SEVNAME': 'Fatal Injury (K)',
  'LAG_HRS': '0',
  'LAG_MINS': '0',
  'LOCATION': '0',
  'LOCATIONNAME': '0',
  'MAKE': '53',
  'MAKENAME': 'Suzuki',
  'MAK_MOD': '53705',
  'MAN_COLL': '0',
  'MAN_COLLNAME': 'Not a Collision with Motor Vehicle In-Transport',
  'MINUTE': '10',
  'MINUTENAME': '10',
  'MOD_YEAR': '2008',
  'MOD_YEARNAME': '2008',
  'MONTH': '1',
  'MonthName': 'January',
  'PER_NO': '1',
  'PER_TYP': '1',
  'PER_TYPNAME': 'Driver of a Motor Vehicle In-Transport',
  'P_SF1': '0',
  'P_SF1NAME': 'None',
  'P_SF2': '0',
  'P_SF2NAME': 'None',
  'P_SF3': '0',
  'P_SF3NAME': 'None',
  'RACE': '2',
  'RACENAME': 'Black',
  'REST_MIS': '0',
  'REST_MISNAME': 'No',
  'REST_USE': '5',
  'REST_USENAME': 'DOT-Compliant Motorcycle Helmet',
  'ROAD_FNC': '11',
  'ROAD_FNCNAME': 'Urban-Principal Arterial-Interstate',
  'ROLLOVER': '0',
  'ROLLOVERNAME': 'No Rollover',
  'RUR_URB': None,
  'RUR_URBNAME': None,
  'SCH_BUS': '0',
  'SCH_BUSNAME': 'No',
  'SEAT_POS': '11',
  'SEAT_POSNAME': 'Front Seat, Left Side',
  'SEX': '1',
  'SEXNAME': 'Male',
  'SPEC_USE': '0',
  'SPEC_USENAME': 'No Special Use',
  'STATE': '6',
  'STATENAME': 'California',
  'STR_VEH': '0',
  'STR_VEHNAME': 'Occupant of a Motor Vehicle',
  'ST_CASE': '60005',
  'TOW_VEH': '0',
  'TOW_VEHNAME': 'No Trailing Units',
  'VEH_NO': '1',
  'VE_FORMS': '2',
  'WORK_INJ': '0',
  'WORK_INJNAME': 'No'}]

In [4]:
persons_df=pd.DataFrame(cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['Persons'])
persons_df

,AGE,AGENAME,AIR_BAG,AIR_BAGNAME,ALC_DET,ALC_DETNAME,ALC_RES,ALC_RESNAME,ALC_STATUS,ALC_STATUSNAME,...,STATENAME,STR_VEH,STR_VEHNAME,ST_CASE,TOW_VEH,TOW_VEHNAME,VEH_NO,VE_FORMS,WORK_INJ,WORK_INJNAME
0,22,22 Years,0,Not Applicable,9,Not Reported,96,Test Not Given,0,Test Not Given,...,California,0,Occupant of a Motor Vehicle,60005,0,No Trailing Units,1,2,0,No

In [5]:
race_count=persons_df["RACENAME"].count()
race_count

1