In [183]:
import requests
import json
import pandas as pd

In [3]:
url= "https://crashviewer.nhtsa.dot.gov/CrashAPI"
#/crashes/GetCrashesByLocation?fromCaseYear=2014&toCaseYear=2015&state=1&county=1&format=json
#/crashes/GetCrashesByVehicle?make=6&model=41&modelyear=2003&bodyType=4&fromCaseYear=2010&toCaseYear=2015 &state=21&format=json
#/crashes/GetCaseList?states=1,51&fromYear=2014&toYear=2015&minNumOfVehicles=1&maxNumOfVehicles=6&format=json
#/crashes/GetCaseDetails?stateCase=10003&caseYear=2014&state=1&format=json

fromCaseYear = "2010"
toCaseYear = "2020"
state = "6"
qurl =f"{url}/crashes/GetCaseDetails?stateCase=60005&caseYear=2014&state=6&format=json"
#qurl = f"{url}/crashes/GetCrashesByLocation?fromCaseYear={fromCaseYear}&toCaseYear={toCaseYear}&state={state}&county=73&format=json"
cali2=requests.get(qurl).json()

NameError: name 'requests' is not defined

In [5]:
cali['Results'][0][0]['CrashResultSet']['Vehicles'][0]['Persons']

NameError: name 'cali' is not defined

In [186]:
persons1=pd.DataFrame(cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['Persons'])
persons1

,AGE,AGENAME,AIR_BAG,AIR_BAGNAME,ALC_DET,ALC_DETNAME,ALC_RES,ALC_RESNAME,ALC_STATUS,ALC_STATUSNAME,...,STATENAME,STR_VEH,STR_VEHNAME,ST_CASE,TOW_VEH,TOW_VEHNAME,VEH_NO,VE_FORMS,WORK_INJ,WORK_INJNAME
0,22,22 Years,0,Not Applicable,9,Not Reported,96,Test Not Given,0,Test Not Given,...,California,0,Occupant of a Motor Vehicle,60005,0,No Trailing Units,1,2,0,No

In [187]:
persons1[["RACENAME","ROAD_FNCNAME","SEXNAME","MAKENAME"]]

  RACENAME                         ROAD_FNCNAME SEXNAME MAKENAME
0    Black  Urban-Principal Arterial-Interstate    Male   Suzuki

In [188]:
persons11=persons1[["RACENAME","AGENAME","DOANAME","ROAD_FNCNAME","SEXNAME","MAKENAME"]]

In [189]:
person1_f= persons11.rename(columns={"RACENAME":"Race","AGENAME":"Age","DOANAME":"Death","ROAD_FNCNAME":"Road_Type","SEXNAME":"Sex","MAKENAME":"Make"})

In [190]:
cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['SPEEDRELNAME']

'Yes, Exceeded Speed Limit'

In [191]:
lanespeed =cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['SPEEDRELNAME']

In [192]:
cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['TRAV_SP']

'95'

In [193]:
travelspeed = cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['TRAV_SP']
travelspeed

'95'

In [194]:
cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['VINNAME']

'JS1GN7EA6821'

In [195]:
vin = cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['VINNAME']

In [196]:
cali2['Results'][0][0]['CrashResultSet']['CF2NAME']

'Motor Vehicle struck by falling cargo,or something that came loose from or something that was set in motion by a vehicle'

In [197]:
cf2name = cali2['Results'][0][0]['CrashResultSet']['CF2NAME']

In [198]:
cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['VSPD_LIM']

'65'

In [199]:
speedlimite= cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['VSPD_LIM']

In [200]:
df= pd.DataFrame([{"Speed_Limite_Exceeded":lanespeed,"Speed_limite":speedlimite,"Traveled_Speed_Veh":travelspeed,"Vin_Number":vin,"Description_of_Veh_Coll":cf2name}])

In [201]:
merge_df = person1_f.merge(df,left_index=True,right_index=True)

In [202]:
cali2['Results'][0][0]['CrashResultSet']['Vehicles'][1]['Persons']

[{'AGE': '53',
  'AGENAME': '53 Years',
  'AIR_BAG': '20',
  'AIR_BAGNAME': 'Not Deployed',
  'ALC_DET': '9',
  'ALC_DETNAME': 'Not Reported',
  'ALC_RES': '96',
  'ALC_RESNAME': 'Test Not Given',
  'ALC_STATUS': '0',
  'ALC_STATUSNAME': 'Test Not Given',
  'ATST_TYP': '0',
  'ATST_TYPNAME': 'Test Not Given',
  'BODY_TYP': '4',
  'BODY_TYPNAME': '4-door sedan, hardtop',
  'CERT_NO': '************',
  'COUNTY': '73',
  'COUNTYNAME': 'SAN DIEGO (73)',
  'CaseYear': '2014',
  'DAY': '9',
  'DEATH_DA': '88',
  'DEATH_DANAME': 'Not Applicable (Non-Fatal)',
  'DEATH_HR': '88',
  'DEATH_HRNAME': 'Not Applicable (Non-fatal)',
  'DEATH_MN': '88',
  'DEATH_MNNAME': 'Not Applicable (Non-fatal)',
  'DEATH_MO': '88',
  'DEATH_MONAME': 'Not Applicable (Non-Fatal)',
  'DEATH_TM': '8888',
  'DEATH_YR': '8888',
  'DEATH_YRNAME': 'Not Applicable (Non-fatal)',
  'DOA': '0',
  'DOANAME': 'Not Applicable',
  'DRINKING': '0',
  'DRINKINGNAME': 'No (Alcohol Not Involved)',
  'DRUGRES1': '0',
  'DRUGRES1NAME': 'Test Not Given',
  'DRUGRES2': '0',
  'DRUGRES2NAME': 'Test Not Given',
  'DRUGRES3': '0',
  'DRUGRES3NAME': 'Test Not Given',
  'DRUGS': '0',
  'DRUGSNAME': 'No (drugs not involved)',
  'DRUGTST1': '0',
  'DRUGTST1NAME': 'Test Not Given',
  'DRUGTST2': '0',
  'DRUGTST2NAME': 'Test Not Given',
  'DRUGTST3': '0',
  'DRUGTST3NAME': 'Test Not Given',
  'DRUG_DET': '8',
  'DRUG_DETNAME': 'Not Reported',
  'DSTATUS': '0',
  'DSTATUSNAME': 'Test Not Given',
  'EJECTION': '0',
  'EJECTIONNAME': 'Not Ejected',
  'EJ_PATH': '0',
  'EJ_PATHNAME': 'Not Ejected/Not Applicable',
  'EMER_USE': '0',
  'EMER_USENAME': 'Not Applicable',
  'EXTRICAT': '0',
  'EXTRICATNAME': 'Not Extricated or Not Applicable',
  'FIRE_EXP': '1',
  'FIRE_EXPNAME': 'Yes',
  'FUNC_SYS': None,
  'FUNC_SYSNAME': None,
  'HARM_EV': '1',
  'HARM_EVNAME': 'Rollover/Overturn',
  'HISPANIC': '0',
  'HISPANICNAME': 'Not A Fatality (not Applicable)',
  'HOSPITAL': '0',
  'HOSPITALNAME': 'Not Transported',
  'HOUR': '16',
  'HOURNAME': '4:00pm-4:59pm',
  'IMPACT1': '6',
  'IMPACT1NAME': '6 Clock Point',
  'INJ_SEV': '0',
  'INJ_SEVNAME': 'No Apparent Injury (O)',
  'LAG_HRS': '999',
  'LAG_MINS': '99',
  'LOCATION': '0',
  'LOCATIONNAME': '0',
  'MAKE': '55',
  'MAKENAME': 'Hyundai',
  'MAK_MOD': '55033',
  'MAN_COLL': '0',
  'MAN_COLLNAME': 'Not a Collision with Motor Vehicle In-Transport',
  'MINUTE': '10',
  'MINUTENAME': '10',
  'MOD_YEAR': '2003',
  'MOD_YEARNAME': '2003',
  'MONTH': '1',
  'MonthName': 'January',
  'PER_NO': '1',
  'PER_TYP': '1',
  'PER_TYPNAME': 'Driver of a Motor Vehicle In-Transport',
  'P_SF1': '0',
  'P_SF1NAME': 'None',
  'P_SF2': '0',
  'P_SF2NAME': 'None',
  'P_SF3': '0',
  'P_SF3NAME': 'None',
  'RACE': '0',
  'RACENAME': 'Not a Fatality (not Applicable)',
  'REST_MIS': '0',
  'REST_MISNAME': 'No',
  'REST_USE': '3',
  'REST_USENAME': 'Shoulder and Lap Belt Used',
  'ROAD_FNC': '11',
  'ROAD_FNCNAME': 'Urban-Principal Arterial-Interstate',
  'ROLLOVER': '0',
  'ROLLOVERNAME': 'No Rollover',
  'RUR_URB': None,
  'RUR_URBNAME': None,
  'SCH_BUS': '0',
  'SCH_BUSNAME': 'No',
  'SEAT_POS': '11',
  'SEAT_POSNAME': 'Front Seat, Left Side',
  'SEX': '2',
  'SEXNAME': 'Female',
  'SPEC_USE': '0',
  'SPEC_USENAME': 'No Special Use',
  'STATE': '6',
  'STATENAME': 'California',
  'STR_VEH': '0',
  'STR_VEHNAME': 'Occupant of a Motor Vehicle',
  'ST_CASE': '60005',
  'TOW_VEH': '0',
  'TOW_VEHNAME': 'No Trailing Units',
  'VEH_NO': '2',
  'VE_FORMS': '2',
  'WORK_INJ': '8',
  'WORK_INJNAME': 'Not Applicable (not a fatality)'}]

In [205]:
person22=pd.DataFrame(cali2['Results'][0][0]['CrashResultSet']['Vehicles'][1]['Persons'])

In [206]:
persons22=person22[["RACENAME","AGENAME","DOANAME","ROAD_FNCNAME","SEXNAME","MAKENAME"]]

In [207]:
rename1_1= persons22.rename(columns={"RACENAME":"Race","AGENAME":"Age","DOANAME":"Death","ROAD_FNCNAME":"Road_Type","SEXNAME":"Sex","MAKENAME":"Make"})

In [208]:
person2=rename1_1

In [215]:
lanespeed2 =cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['SPEEDRELNAME']

In [216]:
travelspeed2 = cali2['Results'][0][0]['CrashResultSet']['Vehicles'][1]['TRAV_SP']

In [217]:
vin2 = cali2['Results'][0][0]['CrashResultSet']['Vehicles'][1]['VINNAME']

In [218]:
speedlimite2= cali2['Results'][0][0]['CrashResultSet']['Vehicles'][0]['VSPD_LIM']

In [219]:
cf2name2 = cali2['Results'][0][0]['CrashResultSet']['CF2NAME']

In [220]:
df2= pd.DataFrame([{"Speed_Limite_Exceeded":lanespeed2,"Speed_limite":speedlimite2,"Traveled_Speed_Veh":travelspeed2,"Vin_Number":vin2,"Description_of_Veh_Coll":cf2name2}])

In [221]:
merge_df = person2.merge(df2,left_index=True,right_index=True)
merge_df

,Race,Age,Death,Road_Type,Sex,Make,Speed_Limite_Exceeded,Speed_limite,Traveled_Speed_Veh,Vin_Number,Description_of_Veh_Coll
0,Not a Fatality (not Applicable),53 Years,Not Applicable,Urban-Principal Arterial-Interstate,Female,Hyundai,"Yes, Exceeded Speed Limit",65,45,KMHWF25S23A7,"Motor Vehicle struck by falling cargo,or somet..."